h1{
  font-family:"Comic Sans MS";
  margin-top: 20px;
}
body{
  font-family: "Times New Roman";
  font-size: 40px;
}
img{
  float: right;
  margin-left: 5px;
}
#first{
  display:inline;
  float: left;
}
body{
  background-color: #bcddc8;
}
